/*homa page*/
body{
	font-family:"Arial" , sans-serif; 
	height:100%;
	width:100%;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
   padding: 1em 1em;
    background-color:#dedede;
    width:100%;
    box-sizing:border-box;
    height:100%;
}
#menuImg{
	
	width: 40px;
	height: 40px;
	float: left;
	margin: 10px 0;
	border-radius:0px;
}

.tips-button{
	border:none;
	padding:10px 20px;
	margin-bottom:20px;
	position:relative;
	left:45%;
	font-size:1em;
	background:none;
}
#username{
	font-weight: bold;
    position: absolute;
    right: 36px;
    top: 27px;
    padding: 10px;
    border-radius: 25px;
    background-color: red;
    color: white;
}
#head{
	width: 100%;
    padding: 5px;
    background-color: #ecc574;
    border-radius: 8px;
    height: 63px;
    box-sizing: border-box;
}
nav{
	clear: both;
    background-color: #f5f0d5;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 6px;
    margin-bottom: 4px;
    box-sizing: border-box;
    border: 1px solid #ded598;
    border-radius: 6px;
    box-shadow: 2px 2px 3px 0px #adadad;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  margin-left:10px;
  cursor: pointer;
}



.add{
	
	width: 60px;
	margin: 15% 45% 20% 45%;
}

/* table */

#list {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
   font-size: .75em;
}

#list td, #list th {
  border-bottom: 1px solid #ddd;
  padding: 8px;
}

#list tr:nth-child(even){background-color: #f2f2f2;}

#list tr:hover {background-color: #ddd;}

#list th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #9e8f75;
  color: white;
}

/*login page*/
#login-page{
	position:fixed;
	top:0;
	left:0;
	width: 100%;
	border-radius: 2px;
	padding: 5% 0 0;
	margin:auto;
	background-color: rgba(33,33,33,.9);
	display: none;
}

#login-page h2{
	text-align: center;
}

#login-page .close-login{
	font-weight: bold;
	width:25px;
	font-size: 1.3em;
	border:none;
	padding: 5px;
	position: relative;
	top:40%;
	left:40%;
}
.form{
	max-width: 360px;
	margin:0 auto 100px;
	padding: 30px;
	text-align: center;
	background-color:white;
    box-sizing: border-box;
}
.form input{
	width: 100%;
	margin: 0 0 15px;
	padding:15px;
	box-sizing: border-box;
	font-size: 14px;
}

.form button{
  background-color: #9e8f75; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
/*end of login page*/

/*tip page */
#tip-page{
	position:fixed;
	top:0;
	left:0;
	width: 100%;
    height:100%;
	border-radius: 2px;
	margin:auto;
	padding-top:2%;
	background-color: rgba(33,33,33,.9);
	display: none;
	
}

#tip-page #tip{
	max-width: 425px;
    max-height:530px;
	margin:0 auto 100px;
	padding: 30px;
	text-align: center;
	background-color:white;
    box-sizing: border-box;
    line-height: 2em;
    overflow:auto;
}

#tip-page .close-tip{
	font-weight: bold;
	width:25px;
	font-size: 1.3em;
	border:none;
	padding: 5px;
	position: relative;
	top:40%;
	left:40%;
}

/*sign up page*/
#signUp-page{
	position:fixed;
	top:0;
	left:0;
	width: 100%;
	border-radius: 2px;
	margin:auto;
	padding-top:2%;
	background-color: rgba(33,33,33,.9);
	display: none;
	
}

#signup-page .close-signup{
	font-weight: bold;
	width:25px;
	font-size: 1.3em;
	border:none;
	padding: 5px;
	position: relative;
	top:40%;
	left:40%;
}
#signUp-page h2{
	text-align: center;
}
#signup-button{
	cursor:pointer;
	color:blue;
	text-decoration:underline;
}
.active{	
background-color: #cbbca1;
}
/*end of login page*/
#income{

	
}

#add-income-cat{
	display:none;
	width:100%;
	height:100%;
	background-color:#808080c9;
	position:fixed;
	top:0px;
	left:0px;
    padding: 6em 0 0 0;
}



#form{
	padding: 20px;
	max-width:50%;
	background-color: white;
	margin: 0 auto;
	animation-name: animatetop;
  	animation-duration: 0.4s
}


/*income page*/
.nav img{
	width: 40px;
	height: 40px;
	border-radius:100%;
}


/*format div */
.format-div{
display:none;
min-width: 300px;
margin-left: auto;
margin-right: auto;
background-color: antiquewhite;
height: calc(100% - 26%);
}
/*end of format-div*/

/* navlinks format main nav top one */

.nav-links{
	padding:4px;
    text-align: center;
}

.total-format{
	font-weight: bold;
}

/* Aside Menu */
#aside{
	display: none;
	width:100%;
	height:100%;
	background-color:#808080c9;
	position:fixed;
	top:0px;
	left:0px;
}
#menu {
	background-color:#f5f0d5;
	width: 0px;
	height:500px;
	position: absolute;
	left:20px;
	top:50px;
	animation-name: animatetop;
  	animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
  from {left: -120px; opacity: 0}
  to {left: 20; opacity: 1}
}

#aside ul{
	list-style-type:none;
	
}
#aside ul li{
	float:none;
	padding: 20px 10px;
}
#aside .close{
	font-weight: bold;
	width:25px;
	font-size: 1.3em;
	background-color:#f5f0d5;
	border:none;
	padding: 5px;
	position: absolute;
	top:0px;
	right:20px;
}
#aside #logout{
	display:none;
}
#form input[type=text], input[type=number], input[type=date]{
	 
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;

}
#form input[type=submit] {
  background-color: #9e8f75; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#form #cancel{
background-color: gray; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/*  Chart */
#chart-place {
    max-width:500px;
    display:none;
    margin-bottom:10px;
}

.delete{
    background-color:red;
    color:white;
    border: none;
    padding: 2 12px;
    
}

	
